.card{
    width: 18rem;
    background: lightgreen;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.2rem lightgray;
    padding: 0.3rem;
    margin: 0.5rem;
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.01);
}